@inherits LayoutComponentBase

<div class="page">
    <div class="top-row sticky-nav">
        <NavMenu />
    </div>

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
